.ms-InfoCalloutForm-callout{max-width:300px}.ms-InfoCalloutForm-configArea{min-width:300px;display:inline-block}
.ms-InfoCalloutForm-buttonArea{vertical-align:top;display:inline-block;min-width:130px;margin:0 100px;text-align:center;height:32px}
.ms-CalloutCoverExample-buttonArea{vertical-align:top;display:inline-block;margin:0 100px;text-align:center;min-width:130px}
.ms-CalloutCoverExample-buttonArea>.ms-Button{text-align:center;width:130px}
.ms-CalloutBasicExample-buttonArea{vertical-align:top;display:inline-block;text-align:center}
.ms-InfoCalloutForm-title{font-size:x-large}.ms-InfoCalloutForm-cmdBarHost{width:350px;padding:10px}
.ms-InfoCalloutForm-inner{height:100%;padding:0 24px 20px}.ms-InfoCalloutForm-header{padding:18px 24px 12px}
.ms-InfoCalloutForm-title{margin:0;font-size:21px;font-weight:100;color:#333333;font-weight:300}
.ms-InfoCalloutForm-subText{margin:0;font-size:12px;font-weight:400;color:#333333;font-weight:300}
.ms-InfoCalloutForm-link{font-size:14px;font-weight:400;color:#333333}
.ms-InfoCalloutForm-actions{position:relative;margin-top:20px;width:100%;white-space:nowrap}
